* {
  margin: 0;
}

.Main-Page {
  display: flex;
  min-width: 100vw;
  flex-direction: column;

  //   div:first-child {
  //     background-color: black;
  //     display: grid;
  //     align-items: start;
  //     grid-template-columns: 15% auto 15%;
  //     grid-auto-flow: column;
  //   }

  //   div:last-child {
  //     display: grid;

  //     grid-template-columns: 15% auto 15%;
  //     grid-auto-flow: column;
  //   }
}
