.Body {
  display: grid;
  height: 100vh;
  width: 100vw;

  grid-template-rows: repeat(5, 1fr); /* creates 5 rows with equal height */
  row-gap: 30px;
  grid-template-columns: 25% 50% 25%;

  div {
    grid-column: 2;
  }
}

:root {
  background: rgb(151 249 249 / 19%);
}
