.Weekly-Details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #b4f1f1;
  padding: 0.625rem 2.188rem;
  border-radius: 1.563rem;
  gap: 1.25rem;
  height: fit-content;

  font-family: "Raleway";
  font-weight: 800;

  .day {
    cursor: pointer;
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 0.2fr 0.5fr 1.5fr 1fr;
    grid-auto-flow: column;
    border-radius: 0.625rem;
    padding: 0.125rem 0.313rem;

    &:hover {
      background: #00baba;
    }

    .icons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1.25rem;
      margin-right: 0.625rem;

      svg {
        height: 1.43rem;
        width: 1.43rem;
      }
    }

    .percepitation-container {
      svg {
        height: 1.43rem;
        width: 1.43rem;
        path {
          fill: #0909e880;
        }
      }
    }

    .min-max {
      display: flex;
      justify-content: flex-end;
    }
  }

  .hourly {
    display: flex;
  }
}

.daily-details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hourly {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 0.625rem;
  max-height: 18.125rem;
  overflow-y: scroll;
  border: 0.063rem dotted green;

  div {
    svg {
      height: 1.43rem;
    }
    display: flex;
    justify-content: space-around;
  }

  .percipitation {
    display: flex;
    gap: 0.313rem;
    justify-content: space-around;
    align-items: center;
  }
}

.hourly::-webkit-scrollbar {
  margin-top: 0.625rem;
  height: 0.625rem;
}

/* Track */
.hourly::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.063rem #00ff00;
  background: #f1f1f1;
}

/* Handle */
.hourly::-webkit-scrollbar-thumb {
  background: rgb(0 122 122 / 46%);
}

/* Handle on hover */
.hourly::-webkit-scrollbar-thumb:hover {
  background: rgba(113, 227, 227);
}

.drop {
  path {
    fill: #0909e880;
  }
}

.hide {
  display: none;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway";

  & > div {
    width: 45%;
    background: #b4f1f1;
    height: 9.375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    border-radius: 1.563rem;
    text-align: center;
    border: 0.063rem dotted black;

    h4 {
      font-size: 1.25rem;
    }
  }

  .uv-container {
    align-items: center;
    svg {
      height: 5rem;
      width: 3.75rem;
      path {
        fill: rgb(182, 124, 36);
      }
    }
  }

  .sun-times > div {
    display: flex;
    justify-content: space-evenly;

    svg {
      height: 5rem;
      path {
        fill: rgb(182, 124, 36);
      }
    }
  }
}

.Weekly-Details > div:first-child {
  background-color: #b4f1f100;
  padding: 0px 2rem;
  box-sizing: border-box;
  opacity: 0.8;
}

.Weekly-Details > div:first-child > div:hover {
  background-color: #b4f1f1;
  cursor: default;
}

@media screen and (max-width: 400px) {
  html {
    .Weekly-Details,
    .Hourly-Details {
      font-size: 10px;
    }
  }
}
