.Hourly-Details-container {
  background: rgba(113, 227, 227, 0.46);
  border-radius: 1.563rem;

  padding: 1.25rem 1.25rem 0px 1.25rem;
  box-sizing: border-box;
}

.Hourly-Details {
  display: flex;
  overflow-x: scroll;
  align-items: center;
  gap: 0.625rem;
  margin: 0px 5px;
  scrollbar-width: thin;

  div {
    margin: 0.625rem;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;

    .percipitation {
      display: flex;
      flex-direction: row;
      gap: 0.3rem;
      justify-content: center;
      align-items: center;
      font-size: 1rem;

      svg {
        height: 1.5rem;
        path {
          fill: #0909e880;
        }
      }
    }
  }
}

.Hourly-Details::-webkit-scrollbar {
  margin-top: 0.625rem;
  height: 0.625rem;
}

/* Track */
.Hourly-Details::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px #00ff00;
  background: #f1f1f1;
}

/* Handle */
.Hourly-Details::-webkit-scrollbar-thumb {
  background: rgb(0 122 122 / 46%);
}

/* Handle on hover */
.Hourly-Details::-webkit-scrollbar-thumb:hover {
  background: rgba(113, 227, 227);
}
