.Settings {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  button {
    background: transparent;
    border: none;
    outline: none;
  }
}

.container {
  position: relative;
  padding: 1.5rem;
}

.menu-toggle {
  position: absolute;
  right: 1.5rem;
  top: 49%;
  transform: translate(0, -50%);
  height: 1.625rem;
  min-width: 20px;
  width: 1.813rem;

  &,
  &:hover {
    color: #000;
  }
}

.menu-toggle-bar {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 0;
  width: 100%;
  height: 0.25rem;
  border-radius: 0.25rem;
  background-color: white;
  transition: all 0.3s ease;

  &.menu-toggle-bar--top {
    transform: translate(0, -8px);
  }
  &.menu-toggle-bar--middle {
  }
  &.menu-toggle-bar--bottom {
    transform: translate(0, 8px);
  }

  .nav-open & {
    &.menu-toggle-bar--top {
      transform: translate(0, 0) rotate(45deg);
    }
    &.menu-toggle-bar--middle {
      opacity: 0;
    }
    &.menu-toggle-bar--bottom {
      transform: translate(0, 0) rotate(-45deg);
    }
  }
}

@media screen and (max-width: 700px) {
  .Settings {
    margin-left: 1.2rem;
  }
}
